.wrapper {
  --ck-color-toolbar-background: var(--color-background-content);
  --ck-color-text: var(--color-text-secondary);
  --ck-color-toolbar-border: transparent;
  --ck-color-base-border: transparent;
  --ck-border-radius: 0;
  --ck-color-base-background: var(--color-true-white);
  --ck-focus-ring: solid 1px transparent;
  --ck-inner-shadow: none;

  color: #333333;
  background: var(--color-true-white);
  flex: 1;
  overflow: auto;
  position: relative;
}

.wrapper :global(.ck-content) {
  min-height: 200px;
}

.wrapper :global(.ck-editor__top) {
  position: sticky;
  top: 0;
  z-index: 2;
}
