.wrapper {
  display: flex;
  width: 32px;
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.noImage {
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  color: #874dd6;
  background: #d3b3ff;

  display: flex;
  align-items: center;
  justify-content: center;
}
