:root {
  --color-true-white: #fff;
  --color-border: rgba(0, 16, 61, 0.12);
  --color-primary: #005ff9;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "Arial", sans-serif;
}

html {
  background-color: var(
    --color-page-background,
    var(--color-background-tertiary)
  );
}

* {
  scrollbar-color: var(--color-scrollbar) transparent;
  scrollbar-width: thin;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: none;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
  border-radius: 2px;
}
